.App {
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.center-circle {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  margin-left: 4vw;
  border-radius: 50%; /* Makes the div round */
  background-color: #f0f0f0; /* Background color of the circle */
  display: flex;
  flex-direction: column; /* Stack items in a column */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
