:root {
  --pikachu-width-desktop: 30px;
  --charizard-width-desktop: 90px;
  --magikarp-width-desktop: 30px;
  --blastoise-width-desktop: 60px;
  --venusaur-width-desktop: 70px;
  --snorlax-width-desktop: 90px;
  --mewtwo-width-desktop: 50px;
  --rayquaza-width-desktop: 150px;
  --lugia-width-desktop: 100px;
  --gyarados-width-desktop: 120px;
  --wailord-width-desktop: 180px;
  --pidgey-width-desktop: 30px;
  --pidgeot-width-desktop: 50px;
  --piplup-width-desktop: 40px;
  --mudkip-width-desktop: 30px;
  --skarmory-width-desktop: 60px;
  --onix-width-desktop: 100px;
  --zubat-width-desktop: 40px;
}

.pokemon {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .pokemon {
    width: 10%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .pokemon {
    width: 50px;
  }
}


.pikachu {
  width: var(--pikachu-width-desktop);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.charizard {
  width: var(--charizard-width-desktop);
  height: auto;
  top: 40%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.magikarp {
  width: var(--magikarp-width-desktop);
  height: auto;
  top: 56%;
  left: 57%;
  transform: translate(-50%, -50%);
}

.blastoise {
  width: var(--blastoise-width-desktop);
  height: auto;
  top: 72%;
  left: 64.5%;
  transform: translate(-50%, -50%);
}

.venusaur {
  width: var(--venusaur-width-desktop);
  height: auto;
  top: 75%;
  left: 77%;
  transform: translate(-50%, -50%);
}

.snorlax {
  width: var(--snorlax-width-desktop);
  height: auto;
  top: 87%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.mewtwo {
  width: var(--mewtwo-width-desktop);
  height: auto;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.rayquaza {
  width: var(--rayquaza-width-desktop);
  height: auto;
  top: 15%;
  left: 81%;
  transform: translate(-50%, -50%);
}

.lugia {
  width: var(--lugia-width-desktop);
  height: auto;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.gyarados {
  width: var(--gyarados-width-desktop);
  height: auto;
  top: 75%;
  left: 24%;
  transform: translate(-50%, -50%);
}

.wailord {
  width: var(--wailord-width-desktop);
  height: auto;
  top: 45%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.pidgey {
  width: var(--pidgey-width-desktop);
  height: auto;
  top: 10%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.pidgeot {
  width: var(--pidgeot-width-desktop);
  height: auto;
  top: 8%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.piplup {
  width: var(--piplup-width-desktop);
  height: auto;
  top: 92%;
  left:13%;
  transform: translate(-50%, -50%);
}

.mudkip {
  width: var(--mudkip-width-desktop);
  height: auto;
  top: 85%;
  left: 4%;
  transform: translate(-50%, -50%);
}

.skarmory {
  width: var(--skarmory-width-desktop);
  height: auto;
  top: 30%;
  left: 88%;
  transform: translate(-50%, -50%);
}

.onix {
  width: var(--onix-width-desktop);
  height: auto;
  top: 44%;
  left: 98%;
  transform: translate(-50%, -50%);
}

.zubat {
  width: var(--zubat-width-desktop);
  height: auto;
  top: 65%;
  left: 34%;
  transform: translate(-50%, -50%);
}


