:root {
  --pikachu-width-desktop: 30px;
  --charizard-width-desktop: 100px;
  --magikarp-width-desktop: 30px;
}

.pokemon {
  position: absolute;
}

.pikachu {
  width: var(--pikachu-width-desktop);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.charizard {
  width: var(--charizard-width-desktop);
  height: auto;
  top: 40%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.magikarp {
  width: var(--magikarp-width-desktop);
  height: auto;
  top: 56%;
  left: 57%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .pikachu, .charizard, .magikarp {
    width: 10%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .pikachu {
    width: calc(var(--pikachu-width-desktop) * 0.5);
  }
  
  .charizard {
    width: calc(var(--charizard-width-desktop) * 0.5);
  }
  
  .magikarp {
    width: calc(var(--magikarp-width-desktop) * 0.5);
  }
}
